<footer id="footer">
        <div class="col-sm-6">
            <div class="social-icons ">
                <ul class="nav navbar-nav">
                    <li><a href="https://www.facebook.com/TandMstyle"><i class="fa fa-brands fa-facebook "></i></a></li>
                    <li><a href="https://www.instagram.com/tandmstyle/"><i class="fa fa-brands fa-instagram fa-google-plus"></i></a></li>
                </ul>
            </div>
        </div>

    <div class="footer-bottom" style="direction: ltr !important;">
        <div class="container">
            <div class="row">
                <p>
                    {{ site_setting.copy_right }}
                </p>
            </div>
        </div>
    </div>

</footer><!--/Footer-->